.container{
    height: 100vh;
}

/* display */

.active{
    display: block;
}

/*! gallery */
#gallery{
    height: 400px;
    width: 800px;
    position: relative;
    
}
img{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
    
}

.fa-solid{
   
    position: absolute;
    font-size: 30px;
    z-index: 1;
    cursor: pointer;
}
.fa-arrow-left{
    left: 0;
    top: 50%;
    
}
.fa-arrow-right{
    right: 0;
    top: 50%;
}
#gallery div{
    color: #fff;
    position: relative;
    z-index: 2;
    right: 1rem;
    bottom: 1rem;
    display: none;
}
