.container{
    height: 100vh;
    position: relative;
}

/*! gallery */
.gallery{
    height: 400px;
    width: 900px;
    position: relative;
    
}
img{
    display: none;
    height: 400px;
    width: 900px;
    object-fit: cover;
    
}
.active{
    display: block;
}

.fa-solid{
   
    position: absolute;
    font-size: 30px;
    
    cursor: pointer;
}
.fa-arrow-left{
    left: 90px;
    top: 50%;
    
}
.fa-arrow-right{
    right: 90px;
    top: 50%;
}
.description{
    color: #fff;
    width: 60%;
    position: absolute;
    bottom: 11rem;
    left: 13rem;
    z-index: 1;
    
    
}
